<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weather</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>First flask app</title>
</head>
<body>
<div class="col-md-6 col-md-offset-3">
<h1>hello {{myname}}</h1>
<form method = "post" action = "/">
    <input type = "text" name = "city" placeholder = "enter city name">
    <button type = "submit">SUBMIT</button>
</form>
    {% if data.status == 200 %}
<div class="col-md-6 col-md-offset-3">
<h3>temperature:{{data.temp}}<p>&#8451</p></h3>
<h3>longitude:{{data.lon}}</h3>
<h3>latitude:{{data.lat}}</h3>
<h3>city:{{data.name}}</h3>
<h3>sunrise:{{data.sunrise}}</h3>
    {% elif data.status == 404 %}
    <h3>city not found</h3>
    {% else %}
    {% endif %}
<a href="/info">info</a>
<a href="/contact">contact</a>
</div>
</body>
</html>